$dark: #000 !important;
$darker: #111;
$dark-medium: #333;
$dark-low: #666;
$light-low: #999;
$light-medium: #ddd;
$ligther: #ddd;
$light: #fff !important;

$featured: #ff9900;
$featured-dark: #d68100;

:root {
  --dark: #{$dark};
  --darker: #{$darker};
  --dark-medium: #{$dark-medium};
  --dark-low: #{$dark-low};
  --light-low: #{$light-low};
  --light-medium: #{$light-medium};
  --ligther: #{$ligther};
  --light: #{$light};
  --featured: #{$featured};
  --featured-dark: #{$featured-dark};
}
