@import url('https://fonts.googleapis.com/css?family=Poppins');
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import 'variables';

* {
  font-family: 'Avenir', 'Poppins', sans-serif;
}

.btn,
.card,
.alert,
.form-control,
.modal-content {
  border-radius: 0 !important;
}

.btn-primary {
  background-color: $featured;
  border-color: $featured-dark;
  &:hover {
    background-color: $featured-dark;
  }
}

.btn-outline-primary {
  border-color: var(--featured) !important;
  color: var(--featured) !important;
  &:hover {
    color: var(--darker) !important;
    background-color: var(--featured) !important;
  }
}